body{
    background-image: linear-gradient(to top, rgba(200, 200, 200, 0.8) 1%, rgba(100, 255, 20, 0.8) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    border: 2px solid #4CAF50;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #ffffff;
    color: black;
}

table{
    width: 94%;
    margin-left: 3%;
    border-collapse: unset;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: #d6d6d6;
}

td{
    font-size: 20px;
}

.pokenameTD{
    align-content: left;
}

.buttonTD{
    text-align: right;
}

#outerDiv{
    background-color: lightblue;
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
}

#innerDiv{
    padding: 20px 0px;
}

#btnPrev, #btnNext{
    margin-top: 10px;
    width: 49%;
}

#btnBack{
    margin-top: 10px;
    width: 100%;
}
*/
h1{
    text-align: center;
}